:root {
  --ff-title: "PT Sans", sans-serif;
  --ff-text: "PT Sans", sans-serif;

  --clr-main: #d8dbe2;
  --clr-accent: #58a4b0;
  --clr-main-inversed: #1b1b1e;
  --clr-accent-inversed: #58a4b0;

  --bg-color: #1b1b1e;
  --bg-color-inversed: #d8dbe2;

  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-appearance: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--ff-text);
  color: var(--clr-main);
  background-color: var(--bg-color);
}

.no-scroll {
  position: fixed;
}

.title-text {
  font-family: var(--ff-title);
  letter-spacing: 0.1rem;
  font-size: 5rem;
  margin: 0 auto;
  text-decoration: underline var(--clr-accent);
  -webkit-text-decoration: underline var(--clr-accent);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
  font-weight: 700;
  font-size: 2.75rem;
}

ul {
  list-style-type: none;
}

a {
  color: #1b1b1e;
  text-decoration: none;
}

strong {
  color: var(--clr-accent);
}

#mobile-nav {
  display: none;
}

#hamburger {
  display: none;
}

#mobile-dark-mode-icon {
  display: none;
}

/*****************************************************************************************
                                Nav Bar
******************************************************************************************/

#nav-bar {
  transform: translateY(-105%);
  transition: ease-in 1s;
  width: 100%;
  z-index: 99999;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  max-height: 10vh;
  background-color: #58a4b0;
}

.logo-text {
  justify-content: left;
  color: var(--clr-main);
  font-size: 2rem;
  float: left;
  padding: 0 0 0 1.75rem;
}

.logo img {
  max-height: 6vh;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.logo a {
  font-family: var(--ff-title);
}

.logo-text:hover a {
  cursor: pointer;
  color: var(--bg-color);
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-right: .5rem;
}

.nav-links a {
  font-family: var(--ff-text);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.verticalLine {
  border-left: .75mm solid #1b1b1e;
}

.nav-links a:hover {
  color: var(--bg-color-inversed);
}

/*****************************************************************************************
                            Intro Section
******************************************************************************************/

.intro-section {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 80vh;
  padding-bottom: 10vh;
}

#hello-intro {
  display: inline-block;
  padding-right: 0.5rem;
  margin: 0;
  opacity: 0;
}

#name-intro {
  display: inline-block;
  margin: 0;
  letter-spacing: 0.1rem;
  opacity: 0;
}

#description-intro,
#quote-intro {
  margin: 0 auto;
  padding-top: 0.25rem;
  font-size: 1.5rem;
  opacity: 0;
}

#name-span {
  color: var(--clr-accent);
  font-size: 4.5rem;
}

/* fade effects section start */

/*****************************************************************************************
                                About me Section
******************************************************************************************/

.about-me {
  max-height: 100vh;
  padding: 0 0 5rem 0;
}

.about-me-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 45%;
  grid-row: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 1rem;
  max-height: 90%;
  max-width: 90%;
}

.about-me .title-text {
  padding-bottom: 1rem;
}

.about-me p {
  font-family: var(--ff-text);
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.about-me-text-1 {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}
.about-me-text-2 {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  padding-top: 1rem;
}
.about-me-text-3 {
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding-top: 1rem;
}

#about-me-picture {
  margin-left: 3rem;
  grid-column: 2;
  grid-row: 1/4;
  object-fit: cover;
  max-width: 100%;
  height: 95%;
  border-radius: 5%;
  opacity: 0.9;
}
/*****************************************************************************************
                                Projects
******************************************************************************************/
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10vh;
  padding-bottom: 5rem;
}


.label-holder{
  margin: 0 auto;
  min-width: 90%;
  height: 10%;
}

.label-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: .7rem;
}

.label-div li {
  font-size: 1.75rem;
  background-color: var(--bg-color);
  color: var(--clr-main);
  border: solid 2px var(--clr-accent);
  padding: .5rem 1.2rem .5rem 1.2rem;
  height: 100%;
  background-color: var(--bg-color);
}

.label-div li:hover {
  box-shadow: 0 8px 8px rgba(20, 88, 99, 0.7);
}

.project-item-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0 0 0;
  width: 90%;
  height: 100%;

}



.project-item{
  position: relative;
  display: inline;
  margin: 1rem 1rem 1rem;
  max-width: 25rem;
  height: 40rem;
  border-radius: 18px;
  flex: 0 0 33.3333%;
  text-align: center;
  background-color: var(--clr-accent);
  border: var(--bg-color-inversed) 2px solid;
}

.project-item h3{
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

.project-item:hover h3:hover{
  color: var(--clr-accent);
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-height: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 111%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  right: 23.8rem;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--bg-color);
  opacity: .6;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: var(--bg-color-inversed);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--bg-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*  Bottom filter tags   */
.project-item p{
  color: black;
  font-size: 1.05rem;
  margin: .75 .75rem 0 .75rem;
}

.project-text{
  height: 20%;
  width: 90%;
  margin: .75rem .75rem 2rem .75rem;
  padding-bottom: .75rem; 
}

.repo-container{
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 4.5rem;
  right: 0;
  left: 0;
  font-size: 1.1rem;
}

.filter-tags{
  position: absolute;
  bottom: .95rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  border-radius: 18px;
  width: 100%;
  height: 5%;
}

.filter-tags li {
  font-size: 1rem;
  color: var(--clr-main);
  background-color: var(--bg-color);
  padding: .5rem 1.2rem .5rem 1.2rem;
  height: 1.2rem;
  border-radius: 18px;
}

.project-hidden {
  display: none;
}

/*****************************************************************************************
                                Work Experience
******************************************************************************************/

.work-experience {
  height: 100vh;
  padding-bottom: 5rem;
}

.content-container {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  white-space: nowrap;
}

.content-container h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/*****************************************************************************************
                          Work Experience slider for map and xp
******************************************************************************************/

.btn-container {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#toggle-btn {
  font-family: var(--ff-text);
  color: var(--bg-color) !important;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.xp-showing {
  transform: translate(-100%);
  transition: all ease-in 1s;
}

.xp-hidden {
  transform: translate(150%);
  transition: all ease-out 1s;
}

.map-showing {
  transform: translate(0%);
  transition: all ease-in 1s;
}

.map-hidden {
  transform: translate(-150%);
  transition: all ease-out 1s;
}

/*****************************************************************************************
                          Styling for Jobs Div
******************************************************************************************/
#xp-txt {
  vertical-align: top;
  display: inline-block;
  white-space: normal;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.button-container {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.job-selector {
  width: 33.3333%;
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
  background-color: var(--bg-color);
  color: var(--clr-main);
  border: solid 2px var(--clr-accent);
}

.glowing {
  box-shadow: 0 8px 8px rgba(20, 88, 99, 0.7);
}

.job-selector:hover {
  box-shadow: 0 8px 8px rgba(20, 88, 99, 0.7);
}

.text-container {
  width: 100%;
  max-height: 80%;
}

#job {
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0;
  font-size: 2.75rem;
}

#title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.75rem;
  color: var(--clr-accent);
  text-align: center;
}

#date {
  text-align: center;
  margin: 0 auto;
  font-size: 1.75rem;
}

#hr-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid var(--clr-accent);
  margin: 1em 0;
  padding: 0;
}

.job-description-container {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.job-description-text {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.job-description-text ul {
  list-style-type: disc;
}

.job-description-text h4 {
  font-size: 2rem;
  margin: 0;
}

.positions {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline var(--clr-accent);
  -webkit-text-decoration: underline var(--clr-accent);
}

.job-description-text p {
  font-size: 1.25rem;
}

/*****************************************************************************************
                          Styles for Map icons and writing
******************************************************************************************/
.marker {
  background-image: url("assets/cg-icon.png");
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.GC-marker {
  background-image: url("assets/GC-logo.png");
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: normal;
}

#map h3 {
  padding: 0 0 0.5rem 0;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: var(--clr-main-inversed);
}

#map h4 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  font-size: 1rem;
  color: var(--clr-accent);
}

#map p {
  font: 1rem;
  line-height: 1rem;
  padding-top: 0.25rem;
  margin: 0 auto;
  color: var(--clr-main-inversed);
}

/*****************************************************************************************
                          Contact me Section
******************************************************************************************/

#contact {
  padding: 10rem 0 3rem 0;
}

#social-media {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#social-media img {
  padding: 0.25rem 1.5rem 0 1.5rem;
}

/*****************************************************************************************
                          Footer
******************************************************************************************/

footer {
  width: 100%;
  border-top: solid 3px var(--clr-accent);
}

footer p {
  margin: 0 auto;
  padding: 5px 0 5px 0;
  text-align: center;
  font-weight: bold;
}

/*****************************************************************************************
                          Back to Top Button
******************************************************************************************/

#to-top {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  background: var(--clr-accent);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#to-top img {
  margin: 0;
  position: relative;
  left: 13px;
  top: 12px;
  height: 25px;
  width: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#to-top:hover {
  background: #a9bcd0;
}

#to-top:hover img {
  top: 5px;
}

/*****************************************************************************************
                          Dark Mode Button
******************************************************************************************/

#dark-mode {
  opacity: 1;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 37px;
  right: 30px;
  background: var(--clr-accent);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#dark-mode img {
  margin: 0;
  position: relative;
  left: 9.25px;
  top: 9px;
  height: 32px;
  width: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#dark-mode:hover {
  background: #a9bcd0;
}

/*****************************************************************************************
                          Media Queries
******************************************************************************************/

@media screen and (min-width: 320px) and (max-width: 481px) {
  :root {
    font-size: 8px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  #hamburger {
    display: initial;
    padding: 0 15px 0 0;
    height: 30px;
    width: 30px;
  }

  #nav-bar {
    position: fixed;
  }

  .nav-links {
    display: none;
  }

  .mobile-showing {
    transform: translate(2%);
    transition: all ease-in 0.65s;
  }

  .mobile-hidden {
    transform: translate(100%);
    transition: all ease-in 0.65s;
  }

  #hamburger {
    display: initial;
  }

  #mobile-nav {
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    opacity: 0.95;
    top: 75px;
    right: 0px;
    height: 60vh;
    width: 50vw;
    background-color: var(--bg-color);
    border: 3px solid var(--clr-accent);
  }

  .mobile-links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
  }

  .mobile-links a {
    color: var(--clr-main);
  }

  .title-text {
    font-size: 7rem;
  }

  #name-span {
    font-size: 4rem;
  }

  .intro-section {
    height: 95vh;
  }

  #description-intro {
    font-size: 11px;
  }

  #quote-intro {
    font-size: 11px;
  }

  .about-me {
    min-height: 1100px;
    scroll-margin-top: 75px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
  }

  #about-me-picture {
    margin: 0 auto;
    max-width: 70%;
    max-height: 250px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .work-experience {
    min-height: 1000px;
    scroll-margin-top: 75px;
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 3rem;
  }

  #job {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 3rem;
  }

  #date {
    font-size: 2.5rem;
  }

  .job-description-container h5 {
    font-size: 3.5rem;
  }

  .job-description-text p {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding: 0;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.5rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }

  #footer p {
    font-size: 1.75rem;
  }

  #dark-mode {
    display: none;
  }

  #dark-mode img {
    display: none;
  }

  #to-top {
    display: none;
  }

  #mobile-dark-mode-button {
    display: initial;
    position: fixed;
    bottom: 25px;
    left: 38px;
    height: 50px;
    width: 50px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }

  #mobile-dark-mode-button img {
    display: initial;
    margin: 0;
    height: 32px;
    width: 32px;
    position: relative;
    top: 9px;
    left: 9px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  :root {
    font-size: 6px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  #hamburger {
    display: initial;
    padding: 0 15px 0 0;
    height: 30px;
    width: 30px;
  }

  #nav-bar {
    position: fixed;
  }

  .nav-links {
    display: none;
  }

  .mobile-showing {
    transform: translate(2%);
    transition: all ease-in 0.65s;
  }

  .mobile-hidden {
    transform: translate(100%);
    transition: all ease-in 0.4s;
  }

  #mobile-nav {
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    opacity: 0.95;
    top: 65px;
    right: 0px;
    height: 60vh;
    width: 50vw;
    background-color: var(--bg-color);
    border: 3px solid var(--clr-accent);
  }

  .mobile-links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
  }

  .mobile-links a {
    color: white;
  }

  .title-text {
    font-size: 7rem;
  }

  #name-span {
    font-size: 20px;
  }

  .intro-section {
    height: 95vh;
  }

  #description-intro {
    font-size: 1.5rem;
  }

  #quote-intro {
    font-size: 1.5rem;
  }

  .about-me {
    min-height: 850px;
    scroll-margin-top: 75px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #about-me-picture {
    margin: 0 auto;
    max-width: 80%;
    max-height: 250px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .work-experience {
    min-height: 950px;
    scroll-margin-top: 75px;
  }

  .btn-container {
    visibility: hidden;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 2rem;
  }

  #job {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 3rem;
  }

  #date {
    font-size: 2.5rem;
  }

  .job-description-container h5 {
    font-size: 3.5rem;
  }

  .job-description-text p {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 2rem;
  }

  #dark-mode {
    display: none;
  }

  #dark-mode img {
    display: none;
  }

  #to-top {
    display: none;
  }

  #mobile-dark-mode-button {
    display: initial;
    position: fixed;
    bottom: 25px;
    left: 38px;
    height: 50px;
    width: 50px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }

  #mobile-dark-mode-button img {
    display: initial;
    margin: 0;
    height: 32px;
    width: 32px;
    position: relative;
    top: 9px;
    left: 9px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    font-size: 8px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  #hamburger {
    display: initial;
    padding: 0 15px 0 0;
    height: 30px;
    width: 30px;
  }

  #nav-bar {
    position: fixed;
  }

  .nav-links {
    display: none;
  }

  .mobile-showing {
    transform: translate(2%);
    transition: all ease-in 0.65s;
  }

  .mobile-hidden {
    transform: translate(100%);
    transition: all ease-in 0.65s;
  }

  #hamburger {
    display: initial;
  }

  #mobile-nav {
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    opacity: 0.95;
    top: 75px;
    right: 0px;
    height: 60vh;
    width: 50vw;
    background-color: var(--bg-color);
    border: 3px solid var(--clr-accent);
  }

  .mobile-links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
  }

  .mobile-links a {
    color: var(--clr-main);
  }

  .title-text {
    font-size: 7rem;
  }

  #name-span {
    font-size: 4rem;
  }

  .intro-section {
    height: 95vh;
  }

  #description-intro {
    font-size: 11px;
  }

  #quote-intro {
    font-size: 11px;
  }

  .about-me {
    min-height: 1100px;
    scroll-margin-top: 75px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
  }

  #about-me-picture {
    margin: 0 auto;
    max-height: 250px;
    max-width: 70%;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .work-experience {
    min-height: 1000px;
    scroll-margin-top: 75px;
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 3rem;
  }

  #job {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 3rem;
  }

  #date {
    font-size: 2.5rem;
  }

  .job-description-container h5 {
    font-size: 3.5rem;
  }

  .job-description-text p {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding: 0;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.5rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }

  #footer p {
    font-size: 1.75rem;
  }

  #dark-mode {
    display: none;
  }

  #dark-mode img {
    display: none;
  }

  #to-top {
    display: none;
  }

  #mobile-dark-mode-button {
    display: initial;
    position: fixed;
    bottom: 25px;
    left: 38px;
    height: 50px;
    width: 50px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }

  #mobile-dark-mode-button img {
    display: initial;
    margin: 0;
    height: 32px;
    width: 32px;
    position: relative;
    top: 9px;
    left: 9px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait){
  :root {
    font-size: 8px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  #hamburger {
    display: initial;
    padding: 0 15px 0 0;
    height: 30px;
    width: 30px;
  }

  #nav-bar {
    position: fixed;
  }

  .nav-links {
    display: none;
  }

  .mobile-showing {
    transform: translate(2%);
    transition: all ease-in 0.65s;
  }

  .mobile-hidden {
    transform: translate(100%);
    transition: all ease-in 0.65s;
  }

  #hamburger {
    display: initial;
  }

  #mobile-nav {
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    opacity: 0.95;
    top: 75px;
    right: 0px;
    height: 60vh;
    width: 50vw;
    background-color: var(--bg-color);
    border: 3px solid var(--clr-accent);
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .mobile-links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
  }

  .mobile-links a {
    color: var(--clr-main);
  }

  .title-text {
    font-size: 7rem;
  }

  #name-span {
    font-size: 4rem;
  }

  .intro-section {
    height: 95vh;
  }

  #description-intro {
    font-size: 11px;
  }

  #quote-intro {
    font-size: 11px;
  }

  .about-me {
    min-height: 1100px;
    scroll-margin-top: 75px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
  }

  #about-me-picture {
    margin: 0 auto;
    max-height: 250px;
    max-width: 70%;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .work-experience {
    min-height: 1000px;
    scroll-margin-top: 75px;
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 3rem;
  }

  #job {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 3rem;
  }

  #date {
    font-size: 2.5rem;
  }

  .job-description-container h5 {
    font-size: 3.5rem;
  }

  .job-description-text p {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding: 0;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.5rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }

  #footer p {
    font-size: 1.75rem;
  }

  #dark-mode {
    display: none;
  }

  #dark-mode img {
    display: none;
  }

  #to-top {
    display: none;
  }

  #mobile-dark-mode-button {
    display: initial;
    position: fixed;
    bottom: 25px;
    left: 38px;
    height: 50px;
    width: 50px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }

  #mobile-dark-mode-button img {
    display: initial;
    margin: 0;
    height: 32px;
    width: 32px;
    position: relative;
    top: 9px;
    left: 9px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    font-size: 8px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  .title-text {
    font-size: 7rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    padding-right: 1rem;
  }

  .nav-links a {
    font-family: var(--ff-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.45rem;
  }
  .verticalLine {
    border-left: .75mm solid #1b1b1e;
  }

  #name-span {
    font-size: 4.5rem;
  }

  .intro-section {
    height: 82vh;
  }

  .intro-section h2 {
    font-size: 3.5rem;
  }

  #description-intro {
    font-size: 17px;
  }

  #quote-intro {
    font-size: 17px;
  }

  .about-me {
    min-height: 1100px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    min-width: 750px;
  }

  #about-me-picture {
    margin: 0 auto;
    max-width: 325px;
    max-height: 325px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .work-experience {
    min-height: 1000px;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 3rem;
  }

  #job {
    font-size: 4rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 3rem;
  }

  #date {
    font-size: 2.5rem;
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .job-description-container h5 {
    font-size: 3.5rem;
  }

  .job-description-text p {
    font-size: 1.85rem;
    line-height: 2.2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding: 0;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.5rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 2rem;
  }

  #to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top img {
    margin: 0;
    position: relative;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top:hover {
    background: var(--clr-accent);
  }

  #to-top:hover img {
    top: 0px;
  }

  #dark-mode {
    opacity: 1;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #dark-mode img {
    margin: 0;
    position: relative;
    left: 9.25px;
    top: 9px;
    height: 22px;
    width: 22px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #dark-mode:hover {
    background: var(--clr-accent);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  :root {
    font-size: 12px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  .title-text {
    font-size: 5rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
  }

  .nav-links a {
    font-family: var(--ff-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  .verticalLine {
    border-left: .75mm solid #1b1b1e;
  }

  #name-span {
    font-size: 4.5rem;
  }

  .intro-section {
    height: 82vh;
  }

  .intro-section h2 {
    font-size: 3.5rem;
  }

  #description-intro {
    font-size: 20px;
  }

  #quote-intro {
    font-size: 20px;
  }

  .about-me {
    min-height: 1000px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    min-width: 750px;
  }

  #about-me-picture {
    margin: 0 auto;
    object-position: top;
    min-width: 400px;
    max-height: 300px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .work-experience {
    min-height: 1000px;
  }
  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 2rem;
  }

  #job {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 2.25rem;
  }

  #date {
    font-size: 1.75rem;
  }

  .job-description-container h5 {
    font-size: 3rem;
  }

  .job-description-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 1.5rem;
  }
  #to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top img {
    margin: 0;
    position: relative;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top:hover {
    background: var(--clr-accent);
  }

  #to-top:hover img {
    top: 0px;
  }

  #dark-mode {
    opacity: 1;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #dark-mode img {
    margin: 0;
    position: relative;
    left: 9.25px;
    top: 9px;
    height: 22px;
    width: 22px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #dark-mode:hover {
    background: var(--clr-accent);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  :root {
    font-size: 12px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  .title-text {
    font-size: 5rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 42%;
    padding-right: 1rem;
  }

  .nav-links a {
    font-family: var(--ff-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25rem;
  }
  .verticalLine {
    border-left: .75mm solid #1b1b1e;
  }

  #name-span {
    font-size: 4.5rem;
  }

  .intro-section {
    height: 82vh;
  }

  .intro-section h2 {
    font-size: 3.5rem;
  }

  #description-intro {
    font-size: 20px;
  }

  #quote-intro {
    font-size: 20px;
  }

  .about-me {
    min-height: 1000px;
  }

  .work-experience {
    min-height: 1000px;
  }

  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 2rem;
  }

  #job {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 2.25rem;
  }

  #date {
    font-size: 1.75rem;
  }

  .job-description-container h5 {
    font-size: 3rem;
  }

  .job-description-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 1.5rem;
  }
  #to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top img {
    margin: 0;
    position: relative;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top:hover {
    background: var(--clr-accent);
  }

  #to-top:hover img {
    top: 0px;
  }

  #dark-mode {
    opacity: 1;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #dark-mode img {
    margin: 0;
    position: relative;
    left: 9.25px;
    top: 9px;
    height: 22px;
    width: 22px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #dark-mode:hover {
    background: var(--clr-accent);
  }
}

/***************************************************************************************
                        iPads
***************************************************************************************/
@media only screen and (min-width: 1366px) and (max-width: 1400px) and (orientation: landscape) {
  :root {
    font-size: 12px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  .title-text {
    font-size: 5rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-right: 1rem;
  }

  .nav-links a {
    font-family: var(--ff-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
  }

  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  #name-span {
    font-size: 4.5rem;
  }

  .intro-section {
    height: 82vh;
  }

  .intro-section h2 {
    font-size: 3.5rem;
  }

  #description-intro {
    font-size: 20px;
  }

  #quote-intro {
    font-size: 20px;
  }

  .about-me {
    min-height: 1000px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    min-width: 750px;
  }

  #about-me-picture {
    margin: 0 auto;
    object-position: top;
    min-width: 400px;
    max-height: 300px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .work-experience {
    min-height: 1000px;
  }
  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 2rem;
  }

  #job {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 2.25rem;
  }

  #date {
    font-size: 1.75rem;
  }

  .job-description-container h5 {
    font-size: 3rem;
  }

  .job-description-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 1.5rem;
  }
  #to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top img {
    margin: 0;
    position: relative;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top:hover {
    background: var(--clr-accent);
  }

  #to-top:hover img {
    top: 0px;
  }

  #dark-mode {
    opacity: 1;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #dark-mode img {
    margin: 0;
    position: relative;
    left: 9.25px;
    top: 9px;
    height: 22px;
    width: 22px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #dark-mode:hover {
    background: var(--clr-accent);
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1400px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-text);
    color: var(--clr-main);
    background-color: var(--bg-color);
  }

  .title-text {
    font-size: 5rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-right: 1rem;
  }

  .nav-links a {
    font-family: var(--ff-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
  }

  #name-span {
    font-size: 4.5rem;
  }

  .intro-section {
    height: 82vh;
  }

  .intro-section h2 {
    font-size: 3.5rem;
  }

  #description-intro {
    font-size: 20px;
  }

  #quote-intro {
    font-size: 20px;
  }

  .about-me {
    min-height: 1000px;
  }

  .about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    min-width: 750px;
  }

  #about-me-picture {
    margin: 0 auto;
    object-position: top;
    min-width: 400px;
    max-height: 300px;
    padding: 1rem 0 0 0;
  }

  #about-me-text {
    margin: 0 auto;
    padding: 1rem 0 0 0;
    max-width: 90%;
  }

  #about-me p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .work-experience {
    min-height: 1000px;
  }
  .button-container {
    padding: 0;
  }

  .job-selector {
    font-size: 2rem;
  }
  #toggle-btn {
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  #job {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #title {
    font-size: 2.25rem;
  }

  #date {
    font-size: 1.75rem;
  }

  .job-description-container h5 {
    font-size: 3rem;
  }

  .job-description-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .marker {
    background-image: url("assets/cg-icon.png");
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .GC-marker {
    background-image: url("assets/GC-logo.png");
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }

  #map {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  #map h3 {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-main-inversed);
  }

  #map h4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: var(--clr-accent);
  }

  #map p {
    font: 1rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    margin: 0 auto;
    color: var(--clr-main-inversed);
  }

  #contact {
    max-width: 100%;
  }
  #social-media {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  #footer p {
    font-size: 1.5rem;
  }
  #to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top img {
    margin: 0;
    position: relative;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #to-top:hover {
    background: var(--clr-accent);
  }

  #to-top:hover img {
    top: 0px;
  }

  #dark-mode {
    opacity: 1;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background: var(--clr-accent);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #dark-mode img {
    margin: 0;
    position: relative;
    left: 9.25px;
    top: 9px;
    height: 22px;
    width: 22px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #dark-mode:hover {
    background: var(--clr-accent);
  }
}
